//menu btn
.menu-btn {
  position: abosolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  float: right;
  cursor: pointer;
  @include easeIn;

  //hamburgger
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeIn;
  }
}
